.btnKaiAnimation {
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
    background-color: transparent;
    color: #64ffda;
    border: 1px solid #64ffda;
    border-radius: 0;
    box-shadow: 0 0 10px #64ffda, 0 0 10px #64ffda inset;
    text-shadow: 0 0 5px #64ffda, 0 0 10px #64ffda;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.btnKaiAnimation:nth-of-type(2) {
    width: 158px;
    height: 44px;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px white, 0 0 10px white inset;
    text-shadow: 0 0 5px white, 0 0 10px white;
    padding: .8rem 1.5rem;
}

.btnKaiAnimation a {
    padding: .8rem 1.5rem;
    display: block;
    text-decoration: none!important;
    color: #fff!important;
}

@media only screen and (min-width: 480px) {

    .btnKaiAnimation {
        font-size: 1.2rem;
    }

    .btnKaiAnimation:nth-of-type(2) {
        width: 186px;
        height: 52px;
    }

    .btnKaiAnimation a {
        padding: .9rem 1.7rem;
    }
}


@media only screen and (min-width: 768px) {

    .btnKaiAnimation a {
        padding: 1rem 2rem;
    }

    .btnKaiAnimation:nth-of-type(2) {
        width: 195px;
        height: 55px;
    }

    .btnKaiAnimation:hover {
        color: black;
        background-color: #64ffda;
        border-color: #64ffda;
        box-shadow: 0 0 80px #64ffda;
    }
    
    .btnKaiAnimation:nth-of-type(2):hover {
        color: black;
        background-color: white;
        border-color: white;
        box-shadow: 0 0 80px white;
    }
    
    .btnKaiAnimation:hover a {
        color: black!important;
    }
   
}