#skills {
    display: flex;
    min-height: 100vh;
    color: #fff;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
}

.skills__title { padding-top: 20px }

.skills__content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#skills img {
    width: 50px;
    height: 50px;
}

.logo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


.Salam {
    color: red;
}